# Python
backend/.venv/
backend/__pycache__/
backend/**/*.pyc

# Environment files
backend/.env
frontend/.env

# Node
frontend/node_modules/

# macOS
.DS_Store


rapid-crisis-management-firebase-adminsdk-fbsvc-57046a2aa3.json
