@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&family=Space+Grotesk:wght@400;500;600;700;800;900&display=swap");

:root {
  --bg-main: #DFE5EB;
  --bg-white: #ffffff;
  --text-main: #0f172a;
  --text-muted: #64748b;
  --red-main: #dc2626;

  font-family: "Space Grotesk", "Inter", sans-serif;
  line-height: 1.45;
  font-weight: 400;
  color: var(--text-main);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html,
body,
#root {
  min-height: 100%;
}

body {
  margin: 0;
  background-color: var(--bg-main);
}